body{
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.header{
    display: flex;
    background-color: #1F2937;
}

.nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-right: 30px;
}

.page-logo{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-left: 45px;
    text-shadow: 
    0 0 8px rgba(110, 231, 183, 0.6), /* Sombra verde suave */
    0 0 12px rgba(59, 130, 246, 0.6); /* Sombra azul suave */
    background: linear-gradient(90deg, #6EE7B7, #3B82F6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu{
    display: flex;
    padding: 10px;
}

.ul-menu{
    display: flex;
    list-style: none;
    width: 100%;
    margin-right: 150px;
}

.ul-menu>li{
    padding-right: 50px;
}
.ul-menu>li>a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.ul-menu>li>a:hover{
    text-shadow: 
    0 0 8px rgba(110, 231, 183, 0.6), /* Sombra verde suave */
    0 0 12px rgba(59, 130, 246, 0.6); /* Sombra azul suave */
    background: linear-gradient(90deg, #6EE7B7, #3B82F6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.up-section{
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    padding-bottom: 60px;

}

.up-container{
    display: flex;
    flex-direction: row;
    width: 100%;

}

.up-text{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 50px;
    margin-top: 300px;
}
.title-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.title-foot{
    color: #e5e7eb;
    font-size: 18px;
}

.title-image{
    display: flex;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border: 4px solid #F9FAF8;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(249, 250, 248, 0.3);
    overflow: hidden;

}

.losdosh {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    max-width: 600px; /* Establece un ancho máximo */
    height: auto; /* Mantén la proporción de la imagen */
    margin-left: auto; /* Centra la imagen horizontalmente */
    margin-right: auto; /* Centra la imagen horizontalmente */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
}
@media (max-width: 768px) {
    .title-image {
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .up-text {
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.down-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.down-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.down-text{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.gallery-container{
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centra las imágenes horizontalmente */
    align-items: center;
    width: 100%;
    margin-top: 50px;
    gap: 200px;

}
.gallery{
    display: flex;
    padding: 20px;
    object-fit: cover;
    border: 4px solid #1F2937;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(31, 41, 55, 0.5);
    overflow: hidden;
}

.gallery > img{
    height: auto;
    max-width: 200px; /* Establece un ancho máximo */
    width: 100%;
}
